.items {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #888888;
  margin: 10px 0;
}
.items > p {
  margin: 2px;
}

.rating {
  display: flex;
}

.btn {
  margin: 20px 0 5px 5px;
  display: flex;
  align-items: center;
  z-index: 9;
}

button {
  width: 40px;
  height: 40px;
  align-items: center;
  border: none;
}

.left_button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 17px;
}

.right_button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 17px;
}

span {
  padding: 8px 15px;
  background-color: lightgray;
}

.btn_over {
  width: 120px;
  height: 40px;
  background-color: lightgray;
  border-radius: 5px;
  margin: 20px 0 5px 5px;
  font-size: 16px;
}

.btn_all {
  position: relative;
}
